@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Josefin+Sans:wght@300;400;600&family=Lexend+Deca&family=Red+Hat+Display:wght@400;500&family=Rubik:wght@300;400&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Josefin+Sans:wght@300;400;600&family=Lexend+Deca&family=Overpass:wght@200;300;600&family=Red+Hat+Display:wght@400;500&family=Rubik:wght@300;400&family=Ubuntu:wght@400;500;700&display=swap');
body {
    margin: 0;
    padding: 0;
    /* margin-top: -20px; */
    font-family: 'Overpass', sans-serif;
    overflow-x: hidden;
}
/* header */
header {
    display: flex;
    height: 60px;
    position: absolute;
    z-index: 2;
    width: 100%;
    color: #FFFFFF;
    margin-top: 40px;
}
header nav ul {
    margin: 0;
    padding-top: 15px;
    display: flex;
    margin-left: 10%;
}
header nav ul li {
    list-style: none;
    margin-right: 20px;
    width: 15%;
    font-weight: bold;
}
header nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
}
header nav ul li a:hover {
    text-decoration: underline;
}
header nav ul li:hover ul {
    display: block;
}
.nav-access hr {
    display: none;
}
.dark-arrow {
    display: none;
}
header nav ul li ul {
    display: none;
    padding: 0;
    background: #FFF;
    border-radius: 15px;
    padding: 17px;
    color: #000;
    width: fit-content;
    margin-left: 0;
}
header nav ul li ul li {
    list-style: none;
    font-weight: normal;
}
header nav ul li ul li a {
    text-decoration: none;
    color: #000000;
}
header nav ul li ul li a:hover {
    font-weight: bold;
}
.nav-logo {
    width: 15%;
    text-align: end;
}
.nav-items {
    width: 60%;
}
.nav-items ul li span {
    background-image: url(../images/icon-arrow-light.svg);
}
.nav-access {
    width: 25%;
    text-align: center;
    padding-top: 15px;
}
.nav-access a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}
.nav-access a:first-child {
    font-weight: bold;
}
.btn-signup {
    background: #FFFFFF;
    display: inline;
    padding: 15px;
    border-radius: 25px;
    text-decoration: none;
    color: hsl(353, 100%, 62%)!important;
    font-weight: bold;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10px;
}
.btn-signup:hover {
    background-color: transparent;
    color: #FFFFFF!important;
    border: 1px solid #FFFFFF;
}
.menu-mobile {
    width: 20%;
    display: none;
}
/* main */
/* header */
.header-main {
    height: 80vh;
    background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    position: relative;
    overflow: hidden;
    border-radius: 0px 0px 0px 8%;
}
.header-main img {
    width: 190%;
    margin-top: -80%;
    margin-left: -25%;
    position: absolute;
}
.header-info {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 150px;
    color: #FFFFFF;
}
.header-info h1 {
    font-size: 55px;
    margin-bottom: 0;
}
.header-info p {
    font-size: 20px;
    margin-bottom: 60px;
}
#start {
    background: #FFFFFF;
    display: inline;
    padding: 15px;
    border-radius: 25px;
    text-decoration: none;
    color: hsl(353, 100%, 62%);
    font-weight: bold;
    cursor: pointer;
}
#start:hover {
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
#start:hover ~ #learn {
    background-color: #FFFFFF;
    color: hsl(353, 100%, 62%);;
}
#learn {
    background: transparent;
    display: inline;
    padding: 15px;
    border-radius: 25px;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}
#learn:hover {
    background-color: #FFFFFF;
    color: hsl(353, 100%, 62%);
}
/* introduction */
.introduction {
    /* background-image: url(../images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position-x: 250%;
    background-position-y: 0;
    height: 150vh; */
    padding-top: 5%;
    margin-top: 10px;
    color: hsl(207, 13%, 34%);
    font-family: 'Overpass', sans-serif;
    margin-bottom: 10%;
    overflow: hidden;
}
.introduction h2 {
    text-align: center;
    font-size: 35px;
}
.introduction-info {
    display: flex;
}
.introduction-text {
    width: 50%;
    padding: 7%;
}
.introduction-text h3 {
    font-size: 25px;
}
.introduction-text p {
    font-size: 15px;
    line-height: 30px;
}
.introduction-img {
    width: 50%;
    margin-top: -120px;
}
.introduction-img img:nth-child(2) {
    display: none;
}
/* state */
.state {
    background: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    border-radius: 0px 120px;
    font-family: 'Overpass', sans-serif;
}
.state-img {
    width: 50%;
    margin-top: -60px;
    text-align: center;
}
.state-img img {
    width: 100%;
}
.bg-state {
    height: 60vh;
    display: flex;
    background-image: url(../images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position-x: -65%;
    background-position-y: 90%;
}
.state-text {
    width: 50%;
    color: #FFFFFF;
}
.state-text h2 {
    margin-top: 15%;
    font-size: 35px;
}
.state-text p {
    padding-right: 20%;
    line-height: 30px;
    color: hsl(240, 2%, 79%);
}
/* section 3 */
.section-3 {
    margin-top: 60px;
    display: flex;
    color: hsl(207, 13%, 34%);
    margin-bottom: 10vh;
    font-family: 'Overpass', sans-serif;
}
.s3-img {
    width: 50%;
}
.s3-img img:first-child {
    margin-left: -41%;
    width: 150%;
}
.s3-img img:nth-child(2) {
    display: none;
}
.s3-text {
    width: 50%;
    padding-left: 2%;
    padding-right: 10%;
    padding-top: 4%;
}
.s3-text h2 {
    font-weight: 600;
}
.s3-text h2:first-child {
    margin-top: 30%;
}
.s3-text p {
    line-height: 30px;
    font-size: 15px;
}
/* footer */
footer {
    height: 30vh;
    display: flex;
    background-color: hsl(240, 10%, 16%);
    border-radius: 0px 100px 0px 0px;
    padding: 5%;
    padding-left: 12%;
    padding-right: 12%;
    flex-wrap: wrap;
    color: hsl(240, 2%, 79%);
}
footer div ul {
    padding: 0;
}
footer div ul li {
    list-style: none;
    margin-bottom: 15px;
    font-size: 15px;
}
footer div span {
    color: #FFFFFF;
    font-weight: bold;
}
.footer-logo {
    width: 25%;
}
.f-product {
    width: 25%;
}
.f-company {
    width: 25%;
}
.f-connect {
    width: 25%;
}
.attribution {
    font-size: 11px;
    text-align: center;
    width: 100%;
    margin-top: 5%;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 992px) {
    .nav-items ul li {
        width: 25%;
    }
    .state-text {
        text-align: center;
    }
    .state-text h2 {
        font-size: 25px;
        margin-bottom: 0;
    }
    .state-text p {
        padding: 10%;
        margin-top: 0;
    }
    .s3-img img {
        margin-left: -70%;
    }
    .s3-text {
        padding-right: 5%;
    }
    footer {
        height: 40vh;
    }
}
@media (max-width: 768px) {
    .header-info h1 {
        font-size: 40px;
    }
    .introduction-text h3 {
        font-size: 20px;
    }
    .introduction-text p {
        font-size: 12px;
    }
    .bg-state {
        height: 45vh;
        background-position-x: 138%;
    }
    .state-img {
        margin-top: -50px;
    }
    .state-img img {
        width: 100%;
    }
    .state-text p {
        font-size: 12px;
    }
    .s3-img img {
        width: 180%;
    }
    .s3-text h2:first-child {
        margin-top: 15%;
    }
    .s3-text p {
        font-size: 12px;
    }
}
@media (max-width: 576px) {
    header {
        flex-wrap: wrap;
    }
    .nav-logo {
        width: 80%;
        text-align: left;
    }
    .nav-logo img {
        margin-left: 10%;
    }
    .menu-mobile {
        display: block;
        text-align: center
    }
    .menu-mobile img:first-child {
        margin-top: 5px;
    }
    .menu-mobile img:nth-child(2) {
        display: none;
        margin-top: 5px;
    }
    .nav-items {
        width: 100%;
        background: #FFFFFF;
        color: #000;
        border-radius: 10px 10px 0px 0px;
        margin: 15px;
        display: none;
    }
    header nav ul {
        display: block;
        margin: 0;
        padding-left: 0;
    }
    header nav ul li {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 100%!important;
        text-align: center;
    }
    header nav ul li a {
        color: #000;
        font-size: 20px;
    }
    header nav ul li ul {
        width: 100%;
        padding: 0;
        background: hsl(207, 13%, 75%);
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    header nav ul li ul li{
        margin-bottom: 10px;
    }
    .nav-access {
        width: 100%;
        background: #FFFFFF;
        border-radius: 0px 0px 10px 10px;
        margin: 15px;
        height: auto;
        margin-top: -5%;
        padding-top: 40px;
        display: none;
    }
    .nav-access hr {
        display: block;
        margin-bottom: 5%;
        filter: opacity(0.5);
        width: 90%;
    }
    .nav-access a:nth-child(2) {
        color: #000;
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .nav-access a:nth-child(3) {
        background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
        color: #FFFFFF!important;
        display: block;
        margin-bottom: 10px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .dark-arrow {
        display: inline;
    }
    .light-arrow {
        display: none;
    }
    .header-main {
        border-radius: 0px 0px 0px 35%;
        padding-bottom: 15%;
    }
    .introduction {
        margin-bottom: 25%;
    }
    .introduction-info {
        flex-wrap: wrap;
    }
    .introduction-text {
        width: 100%;
        text-align: center;
        order: 2;
    }
    .introduction-img {
        width: 100%;
        order: 1;
        margin-top: 10px;
    }
    .introduction-img img:nth-child(1) {
        display: none;
    }
    .introduction-img img:nth-child(2) {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .state {
        height: 60vh;
    }
    .bg-state {
        flex-wrap: wrap;
    }
    .state-img {
        width: 100%;
        margin-top: -30%;
    }
    .state-img img {
        width: 50%;
    }
    .state-text {
        width: 100%;
    }
    .state-text h2 {
        margin-top: 0;
    }
    .state-text p {
        padding: 0;
        padding-left: 5%;
        padding-right: 5%;
    }
    .section-3 {
        flex-wrap: wrap;
    }
    .s3-img {
        width: 100%;
    }
    .s3-img img:first-child {
        display: none;
    }
    .s3-img img:nth-child(2) {
        display: block;
        width: 100%;
        margin-left: 0;
    }
    .s3-text {
        width: 100%;
        text-align: center;
    }
    footer {
        display: block;
        height: auto;
        text-align: center;
    }
    footer div {
        margin-left: auto;
        margin-right: auto;
    }
}